[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
app = "./dash_app/app.py"

[dev-packages]

[packages]
sklearn = "*"
pandas = "*"
jupytext = "*"
seaborn = "*"
#lightgbm = "*"
#xgboost = "*"
#pillow = "*"
#wordcloud = "*"
#catboost = "*"
tqdm = "*"
#plotly = "*"
#nltk = "*"
#langdetect = "*"
#eli5 = "*"
#ipython = "*"
sklearn-pandas = "*"
ipykernel = "*"
#ascii-graph = "*"
#jinja2 = "*"
#coloredlogs = "*"
#gamete = {path = "/home/batman/git/py_gamete",editable = true}
#pyyaml = "*"
deprecated = "*"
#joblib = "*"
opencv-python = "*"
scikit-image = "*"
tensorflow-gpu = "*"
pillow = "*"
imutils = {editable = true,path = "/home/batman/kaggle/imutils"}
dash = "*"

[requires]
python_version = "3.6"
