[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
app = "python ./dash_app/app.py"

[dev-packages]

[packages]
sklearn = "*"
pandas = "*"
jupytext = "*"
seaborn = "*"
tqdm = "*"
sklearn-pandas = "*"
ipykernel = "*"
deprecated = "*"
opencv-python = "*"
scikit-image = "*"
tensorflow-gpu = "*"
pillow = "*"
imutils = {path = "/home/batman/kaggle/imutils",editable = true}
dash = "*"
dash-daq = "*"
numpy = "*"

[requires]
python_version = "3.6"
