rc-slider-step {
    color: black;
}

div.slider {
    margin: 20px 20px 20px 20px;
    width: 80%;
}

rc-slider-mark-text {
    color: black;
}

div.rc-slider-track {
    background-color: rgba(0, 163, 0, 0.35);
}

/*.rc-slider-track {*/
/*    background-color: black;*/
/*}*/